@use 'variables' as v;

.footer{
    background-color: v.$black;
    color: v.$white;
    padding: 4rem 0;
    text-align: center;

    &__logo{
        margin-bottom: 3rem;
    }

    &__li{
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    &__socials{
        margin: 3rem 0 2rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    &__copy{
        color: v.$very-dark-gray;
        font-weight: 600;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 768px) {
    .footer{

        &__container{
            display: grid;
            grid-template-columns: 50% 50%;
        }

        &__div1{
            text-align: start;
        }

        &__ul{
            display: flex;
            gap: 1rem;
        }
    
        &__li{

            font-weight: 500;
        }

        &__div2{
            text-align: end;
        }
    
        &__socials{
            margin: 0rem 0 3.7rem;
            justify-content: end;
        }
    }
}

@media screen and (min-width: 1440px) {
    .footer{

        &__ul{
            gap: 2rem;
        }
    }
}