@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Alata', sans-serif;
    // font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

.container{
    width: $container-mobile;
    margin: 0 auto;
}