@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    // font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    background-color: v.$white;

}

.container{
    width: v.$container-mobile;
    margin: 0 auto;
}

section{
    padding-top: 7rem;
}