@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    background-color: v.$white;

}

.container{
    width: v.$container-mobile;
    margin: 0 auto;
}

.attribution { font-size: 11px; text-align: center; margin-top: 1.2rem; }
.attribution a { color: hsl(228, 45%, 44%); }

section{
    padding-top: 7rem;
}

@media screen and (min-width: 1440px) {
    .container{
        width: v.$container-desktop;
    }
}