// Colors

// Primary

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

$container-mobile: 86%;
$container-tablet: 86%;
$container-desktop: 78%;