@use 'variables' as v;

.vr{

    &__image{
        
        & > img{
            width: 100%;
        }
    }

    h2{
        margin-top: 2rem;
        font-size: 2.2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }

    p{
        font-family: 'Alata', sans-serif;
        color: v.$dark-gray;
        text-align: center;
        margin-top: 1.5rem;
        line-height: 2;
        max-width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .vr{

        &__info{
            width: 75%;
            margin: 0 auto;

            h2{
                margin-top: 2.5rem;
                font-size: 2.5rem;
                font-weight: 500;
            }
        
            p{
                color: v.$very-dark-gray;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .vr{
        height: 32rem;

        &__image{
            // display: inline-block;
            
            & > img{
                width: 63%;
            }
        }

        &__info{
            position: relative;
            display: inline-block;
            width: 49%;
            top: -310px;
            left: 50%;
            background-color: white;
            padding: 2.5rem 0rem 2.5rem 4rem;

            h2{
                margin-top: 2rem;
                font-size: 2.5rem;
                text-align: start;
                font-weight: 600;
            }
        
            p{
                text-align: start;
            }
        }
    
    }
}

@media screen and (min-width: 1200px) {
    .vr{
        height: 35rem;
    }
}

@media screen and (min-width: 1440px) {
    .vr{
        height: 40rem;
    
    }
}

@media screen and (min-width: 1680px ) {
    .vr{
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 1900px ) {
    .vr{
        margin-bottom: 8rem;
    }
}

@media screen and (min-width: 2160px ) {
    .vr{
        margin-bottom: 12rem;
    }
}

@media screen and (min-width: 2300px ) {
    .vr{
        margin-bottom: 15rem;
    }
}

@media screen and (min-width: 2560px ) {
    .vr{
        margin-bottom: 20rem;
    }
}